[submodule "Core"]
	path = Core
	url = ../Core
[submodule "Gename"]
	path = Gename
	url = ../Gename
[submodule "Interface"]
	path = Interface
	url = ../Interface
[submodule "Intro"]
	path = Intro
	url = ../Intro
